{% extends "webapp/mainHeader.html" %}
{% block navbar %}
{% include "webapp/navigation.html" %}
{% endblock %}

{% block body %}
{% load static %}
<footer>
	<div class="container-fluid">

		<div class="col-md-12 text-center">
			<h2 id="contributeTitle"> Check Us Out On GitHub! </h2>
		</div>
	</hr>
		<div class="col-md-12 footerRow" id="footerSection">


			<div class="col-md-4 text-center">
				<span id="elliot">
				<a href="https://github.com/devOpElliot" target="_blank"><img src="{% static "webapp/img/gitLogo.png" %}" id="gitHubLogo"/></a>
				<h3>Elliot Fortney</h3>
				<p> Web developer, gamer, and all around nerd. Specialties include Node.js, dynamic web apps, and eating entire pizzas in one sitting.</p>
				</br>
				<p> Email: efortney227@gmail.com</p>
			</span>
			</div>
			<div class="col-md-4 text-center">
				<span id="alex">
				<a href="https://github.com/amorehead" target="_blank"><img src="{% static "webapp/img/gitLogo.png" %}" id="gitHubLogo"/></a>
				<h3>Alex Morehead</h3>
				<p> Programmer, Linux geek, musician, etc. I personally enjoy working with Java, Python, Unix-like operating systems, and anything in-between. </p>
			</br>
			<p> Email: alex.morehead@gmail.com </p>
			</span>
			</div>
			<div class="col-md-4 text-center">
				<span id="keilan">
				<a href="https://github.com/KielanSean" target="_blank"><img src="{% static "webapp/img/gitLogo.png" %}" id="gitHubLogo"/></a>
				<h3>Kielan Sullivan</h3>
				<p>Programmer, music enthusiast, movie aficionado, chef extraordinaire.  Proud owner of two monster cats, Ishmael & Friend.
				</br>
				</br>
				<p>Email: kielansean@gmail.com</p>
			</span>
			</div>


	</div>
</footer>

{% endblock %}
