{% extends "webapp/header.html" %} {% block content %} {% include "webapp/navigation.html" %} {% endblock %} {%block body %}

<div class="container">
  <div class="row aboutDjenga">
    <div class="col-md-12 text-center">
      <h1 id="homePageQ"> So what is Djenga? </h1>
    </div>
  </div>

  <div class="row answerQ">
    <div class="col-md-12">
      <div class="container">
        <h3> Great question. Djenga is an experimental webpage built by three Missouri Western University students to better help them better understand Python. This site is a blog built to show you our journey through our learning efforts, and also to show off our new skills as Django developers.
      </h3>

        </br>

        <h3>Django framework is a pretty sick way to create websites. It works through the philosophy that every page that is contained in your website that isn't static is an app. Django uses jinja, a powerful Python template to allow users to dynamically display their content. Checkout our site for information on how we learned django, contributor blogs, and to gain an overall understanding of who we are.</h3>

        <h2 class="text-center" style="padding:12px"> Site Design </h2>
        <h3>Apple, Google, and even Microsoft stress the importance of minimalisim in their products. Project Djenga was designed with the same theories in mind. By stream lining our page, we want to give the user an experice that they want to have again. Sooo yeah, we're for hire. </h3>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
