body{
    background-color: white);
    font-family: 'Raleway', sans-serif;
}

.postEntry a{
  color: purple !important;
  font-size: 20px;
}

.postEntry{
  margin:8px;
  text-align: center;
  box-shadow: 6px 6px #f4f4f4;
  border: 1px solid #f4f4f4;
  background-color: white;
  color: black !important;
  padding: 15px;
  height: 140px !important;
  border-radius: 9px;
}

.titleRow{
  padding: 25px;
}

#backButton{
  width: 70px;
  padding:6px;
  font-size: 16px;
  background-color: purple !important;
}
