.aboutDjenga{
  padding-top:5px;
}

.answerQ{

  padding: 15px;
}

#contributeTitle{
  padding-top:70px;
  padding:12px;
}

#aboutDjango_text{
  padding:14px;
  box-shadow: 3px 3px 2px 1px #f4f4f4;
  font-size: 18px;
}
