/**********************************************
CSS Styles for homepage
add all media queries at the bottom of the page
**********************************************/

body {
  font-family: 'Raleway', sans-serif;
  height: 90vh;
}


/* large picture intro section*/

.hero {
  background-image: url("../img/night.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#downArrow {
  max-width: 65px;
  max-height: 65px;
  animation-duration: 4.5s;
}

#scrollDown {
  position: absolute;
  text-align: center;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heroText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#title {
  color: white;
  font-size: 78px;
  font-weight: bold;
  text-shadow: 1px 1px #5e35b1;
}

#subtitle {
  animation-delay: .5s;
  color: white;
  font-size: 30px;
}


/* end of hero section */


/* footer section */

#gitHubLogo {
  padding: 12px;
  width: 100px;
  height: 100px;
}

.footerRow {
  margin-bottom: 15px;
  height: 70px;
}


/******************************************
place all media queries for home page below
*******************************************/
