
/**********************************************
CSS Styles for homepage
add all media queries at the bottom of the page
**********************************************/

body{
  font-family: 'Raleway', sans-serif;

}

/* large picture intro section*/
.hero{
  background-image: url("../img/pc.jpg");
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.heroText{
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#title{
  color:white;
  font-size: 68px;
  font-weight: bold;
  text-shadow: 1px 1px rgba(27, 235, 66, 0.37);
}
